.cp-navigation {
  .brand-logo {
    left: 0;
    transform: none;
    margin-left: .5em;
  }

  /*
  @media screen and (max-width: 450px) {
    .brand-logo {
      position: static;
    }

    ul {
      float: none;
      width: 100%;
    }
  }
  */
}
