@import './variables';
@import '~materialize-css/sass/materialize';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.cp-app {
  color: $foreground-color;
  background-color: $background-color;
}

.cp-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;

  > div:not(.cp-home) {
    max-width: 800px;
    margin: auto;
  }
}

.btn-negative {
  background-color: $negative-color;

  &:hover,
  &:focus {
    background-color: lighten($negative-color, 5%)
  }
}

.btn-secondary {
  background-color: $neutral-color;

  &:hover,
  &:focus {
    background-color: lighten($neutral-color, 5%)
  }
}

hr {
  margin: 2rem -5%;
  border-top: 0;
  border-bottom: 0;
}

.brand-logo, h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}
