@import './variables';
@import '~materialize-css/sass/materialize';

.cp-app {
  color: $foreground-color;
  background-color: $background-color;
}

.cp-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-negative {
  background-color: $negative-color;

  &:hover,
  &:focus {
    background-color: lighten($negative-color, 5%)
  }
}

.btn-secondary {
  background-color: $neutral-color;

  &:hover,
  &:focus {
    background-color: lighten($neutral-color, 5%)
  }
}

hr {
  margin: 2rem -5%;
  border-top: 0;
  border-bottom: 3px solid $primary-color;
}