// Colours
$bird-dark-blue: #1A2668;
$bird-blue: #164ABC;
$bird-dark-orange: #DA5A14;
$bird-orange: #EB9417;
$bird-green: #3F9331;
$bird-yellow: #F6D131;
$bird-white: #FFF;
$bird-black: #000;

$background-color: $bird-white;
$foreground-color: $bird-black;

// Uses
$header-color: $bird-green;
$button-color: $bird-blue;
$link-color: $bird-blue;

$negative-color: $bird-dark-orange;
$neutral-color: $bird-orange;

// Materialize Variable Overrides
$primary-color: $bird-green;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

$secondary-color: $bird-blue;

$positive-color: $bird-green;
$error-color: $bird-dark-orange;

/*
$input-border-color: #424776;
$input-focus-color: $bird-white;
$collection-bg-color: $background-color;
$collection-border-color: #424776;
$off-black: $foreground-color;
*/
