.cp-item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: calc(100% - 350px) 150px 150px 50px;

  .title {
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  @media screen and (max-width: 550px) {
    display: block;

    > * {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }

    button {
      width: 100%;
    }
  }
}